<!DOCTYPE html>
<html>
<head>
  <title> Omelas Dashboard </title>
  <link rel="stylesheet" href="style.css" >

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

  <!-- AngularJS Material Dependencies -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.js"></script>

   <!-- AngularJS Material Javascript using GitCDN to load directly from `bower-material/master` -->
   <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>

  <script src="app.js"></script>
</head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<body data-ng-app="app">
  <main data-ng-controller="dashboardController">

    <div class="list-header" style="display: flex; justify-content: space-between">
      <div class="left-header">
        <!-- <a href="/"><h1 style="color: white; margin-top: -5px; width: 0px;"></h1></a> -->
        <!-- <img src="images/logo.png" style="width: 70px"> -->
        <h2> Lax Data </h2>
      </div>
      <input type="text" ng-model="searchFilter" placeholder="Search"  class="searchBox">
    </div>

    <button ng-click="exportCSV()"> Export to CSV </button>

    <div>
      <table class="table" id="sm-table">
        <thead>
          <tr>
              <th ng-click="sortBy('user', sortReverse)" style="text-align: center">
                <h3>
                  Date
                  <img ng-src="{{srcUrl}}" style="width: 15px" ng-show="propertyName === 'user' " >
                </h3>
              </th>
              <th style="text-align: center">
                <h3>
                  Home team
                  <i ng-show="sortType === 'list.text'" ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
                </h3>
              </th>
              <th ng-click="sortType = 'list.time' ; sortReverse = !sortReverse " style="text-align: center">
                <h3>
                  Away Team
                  <i ng-show="sortType === 'list.time'" ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
                </h3>
              </th>
          </tr>
        </thead>

        <tr ng-repeat="list in posts | orderBy:propertyName:sortReverse | filter:searchFilter " style="border-bottom: 1px solid grey" >

          <td style="text-align: center" > {{ list.date | date : 'EEEE MMM d yyyy hh a' }} </td>
          <td style="text-align: center" > {{ list.Home }} </td>
          <td style="text-align: center"> {{ list.Away }} </td>
          <!-- <td dir='rtl' style="width: 500px; overflow: hidden">
            <div id="text+{{$index}}" style="height: 100px; overflow-x: scroll">
              {{ list.home }}
            </div>
            <div style="height: 15px;">
             <p id="cta+{{$index}}" style="margin-top: 0px; font-size: 12px"

                  ng-click="viewFullText($index)">
                  Expand to View Full Text
              </p> -->
            <!-- </div>
          </td> -->
          <!-- <td style="width: 35px"> {{ list.location }} </td>
          <td style="text-align: center"> {{ list.reactions }} </td>
          <td style="text-align: center"> {{ list.comments }} </td>
          <td style="text-align: center"> {{ list.shares }} </td>
          <td style="text-align: center"> <a href="{{ list.page_url }}" target="_blank"> Source Url </a> </td>  -->
        </tr>
      </table>

    <!-- <a href="http://www.freepik.com/free-vector/arrows-icon-set_970447.htm">Designed by Freepik</a> -->
  </div>



  </main>
</body>
</html>
